<div class="catchline"><strong>Get in touch!</strong></div>

<div class="contact-box">
  <div class="contact-links">
    <i class="fa fa-map-marker fa-3x"></i><span class="info">
      <a href="https://www.iiitb.ac.in/" target="_blank">IIIT Bangalore</a>
    </span><br><br>
    <i class="fa fa-envelope fa-2x"></i><span class="info">
      <a href="mailto:akshath.kaushal@gmail.com" target="_blank">akshath.kaushal@gmail.com</a>
    </span><br><br>
    <i class="fa fa-phone fa-2x"></i><span class="info">
      +91 7696022076
    </span>
  </div>
</div>

<div class="direct-contact">
  <span class="contact-text">Or Leave a message </span>
  <%= link_to 'here', new_message_path %>
</div>