<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="about-section paddingTB60 gray-bg">
    <div class="container">
        <div class="row">
			<div class="col-md-7 col-sm-6">
				<div class="about-title clearfix">
					<h1>Hello <span>World!</span></h1>
					<h3>I am Akshath Kaushal </h3>
					<p class="about-paddingB">Lorem ipsum dolor sit amet, consectetadipiscing elit. Donec aliquet dolor libero, eget venenatis maurfinibus dictum. Vestibulum quis elit eget neque porttitor congnon sit amet dolor. Proin pretium purus a lorem ornare sed lobortis pulvinar. Integer laoreet mi id eros porta euismoSuspendisse potenti. Nulla eros mauris, convallis et sem tempuviverra hendrerit sapien</p>
                    <div class="about-icons"> 
                        <ul >
                            <li><a href="https://github.com/akshathkaushal" target="_blank">GitHub</a></li>
                            <li><a href="https://www.linkedin.com/in/akshath-kaushal-08277817b" target="_blank">LinkedIn</a></li>
                            <li> <a href="https://drive.google.com/open?id=1FFcCSWWD59gaYG4HTHT4GQQLsFt8lcvX" target="_blank">Resume</a></li>
                        </ul>       
                    </div>
		        </div>
	        </div>
    
            <div class="col-md-5 col-sm-6">
                <div class="about-img">
                    <img src="assets/old.png" alt="Akshath Kaushal">
                </div>
            </div>	
        </div>
    </div>
</div>